<!-- debug_button.template -->
<span
	id=jsdebug
	class=dialog
	style="border: 3pt; padding: 3pt; float:right;"
>

<a
	href=#
	onclick="window.dbgoff=0; return false;"
	style="float: right"
>jsdebug</a>