<html><head></head><body>Thank you for voting! Your vote will be counted at the next update.<br><br>
Please, use the Back button in your browser to return to the previous page.<br><br>
Alternatively, wait a few seconds, and you will be redirected to the <a href=/>Home Page</a>.
</body></html>