<span class=avatar style="border: 1pt dotted #$color1;"><span class=icon style="background-color: #$color1"><font color="#$color2">&bull;</font><font color="#$color3">&bull;</font></span><span class=username>$alias</span></span>