// just the avatar, please

function getAvatar() {
    var avatar = localStorage.getItem("avatar");
    if (avatar === null || avatar.length === 0) {
        return null;
    } else {
        return avatar;
    }
}

var myidBox = document.getElementById('myid');
if (myidBox) {
	if (getAvatar()) {
		myidBox.innerHTML = getAvatar() + ' <a href="/identity.html">Sign Out</a>';
	} else {
		myidBox.innerHTML = '<a href="/identity.html">Sign In</a>';
	}
}
