<form action="./gracias.html">
<textarea cols=80 rows=12 name=comment maxlength=8192 autofocus></textarea><br>
<input style="font-size: large;" type=submit value="Go">

<ul>
<li>You are invited to submit a message up to 8,192 bytes long.</li>
<li>You can sign your message with GPG, but you don't have to.</li>
<li>Messages containing an @ character are savd for the admin.</li>
<li>Duplicate messages will be dropped silently; Our apologies.</li>
</ul>

</form>
