<html>
<head>
<title>Thank you</title>
<meta http-equiv="refresh" content="5; url=./">
</head>
<body>
<p>Thank you. Your submission will be processed according to schedule.</p>
<p></p>
<p><a href="./">Continue</a></p>
</body>
</html>
