<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width">
<title>$title</title>
<style type="text/css">
<!--
$styleSheet
-->
</style>
</head>
<body link="$primaryColor" vlink="#806080" text=black bgcolor=white><font face=courier>
<span class=topbar><a href="#maincontent" style="float: right">Skip to main content</a> <h2 class=menu>$menuItems</h2><span class="myid menu" id=myid></span></span>
<hr size=5>
