<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width">
<title>$title</title>
<style type="text/css">
<!--
$styleSheet
-->
</style>
</head>
<body link="$primaryColor" vlink="#806080" text="$textColor" bgcolor="$secondaryColor">
<div id=amain><a href="#maincontent">Skip to main content</a>
<h2 class=menu><a id=logo class=logo title="Home" href="/">
$logoText</a>: $menuItems<span id="signin"></span><span class="myid" id=myid></span></h2>
$introText
<hr size=5>
</div>
<main id=maincontent><a name=maincontent></a>
