<hr>
$footer
<a href="http://noscript.net/" style="font-family: Arial, helvetica, sans-serif; font-weight: bold; font-size: 12pt; border: 2pt #808080 outset; background-color: #c0c0c0; color: #000000; padding: 3pt; vertical-align: middle"><nowrap><img src="/images/noscript.png" style="height: 20pt; width: 20pt;" alt="">Welcome</nowrap></a>
</main></body></html>