<div class="plain">
<h2>Original Submission as Plain Text:</h2>
$itemTextPlain
</div>

<div class="plain">
<h2>Unconfirmed Votes:</h2>
<p>$votesSummary</p>
<pre>$unconfirmedVotesTable</pre>
<p>Votes may take a few minutes to register.</p>
</div>

<div class="plain">
<h2>Confirmed Votes:</h2>
<p>$confirmedVotesTable</p>
<p>Confirmation takes place one cycle after verification of ballot.</p>
</div>

<div class="plain">
<h2>SHA1 Hash:</h2>
<p>$fileHash</p>
</div>