<div class="plain">
<h2>Original Submission as Plain Text:</h2>
$itemTextPlain
</div>

<div class="plain">
<h2>Votes on this Item:</h2>
<p>$votesList</p>
<p>Votes may take a few minutes to register.</p>
</div>

<div class="plain">
<h2>SHA1 Hash:</h2>
<p>$fileHash</p>
</div>