<div class="$itemClass">
<a href="$permalinkHtml">$itemName</a> <a href="$permalinkTxt">.txt</a>
$authorLink
<br>
$itemText<br>
<details class=voter><summary>Vote</summary>$voterButtons</details>
</div>