<script><!--
document.write('<div style="color: white; padding: 4pt; border-radius: 4pt; background: repeating-linear-gradient(135deg,#ffe0e00,#ffe0e0 10px,#ffd0d0 10px,#ffd0d0 20px);"><strong>Warning!</strong> JavaScript is enabled in your browser! JavaScript exposes you to additional security and privacy risks, while providing no extra functionality on this site, except for this warning.</div>');
// --></script>