<p>Version: $version</p>
<p>Item Count: $itemCount</p>
<p>Profile Count: $authorCount</p>
<p>Administrator: $admin</p>
<p>Server: $server</p>
<p>Updated: $currUpdateTime</p>
<p>Previous Update: $prevUpdateTime</p>
<p>Apparent Update Interval: $updateInterval</p>
<p>Next Update: $nextUpdateTime</p>
