.tag-flag {
    color: #c08080;
}
.tag-accept {
    color: #80c080;
}
.tag-textart, .tag-poetry {
    font-family: monospace;
}
div.reply {
    border-left: 3pt dotted #c08000;
    margin-left: 2%;
    padding-left: 1em;
    width: 98%;
}
div.txt {
    border-left: 3pt dotted #c08000;
    padding-left: 1em;
}
body {
    font-family: helvetica;
    size: default;
}
.txt {
    font-family: tahoma;
    size: default;
}