body {
	font-family: monospace;
}
details.txt {
	padding: 3pt;
	font-family: monospace;
	word-wrap: break-word;
	max-width: 80ex;
	border: 1pt dotted $primaryColor;
	border-radius: 1pt;
	margin: 8pt;
}
.voter {
	margin: 5pt 0pt 0pt 0pt;
	text-align: right;
}
.voter a {
	text-decoration: none;
	border: 2pt outset $primaryColor;
	padding: 2pt 2pt 0pt 2pt;
	border-radius: 3pt;
	background-color: $primaryColor;
	color: $secondaryColor;
	font-family: cursive;
	font-size: default;
}
.voter a:active {
	border: 2pt inset $primaryColor;
	background-color: $secondaryColor;
	color: $primaryColor;
}
details.txt a.header {
	font-family: monospace;
	font-weight: bold;
	font-size: larger;
}
h3 a {
	padding: 5pt;
	spacing: 5pt;
	display: block;
}
a {
	color: $primaryColor;
	background-color: $secondaryColor;
}
h1 {
	background-color: $primaryColor;
	color: $secondaryColor;
	padding: 5pt;
	border: solid 5pt $primaryColor;
	border-radius: 5pt;
}
.avatar .icon {
	font-weight: bold;
	margin-right: 2pt;
}
.avatar {
	border-radius: 1pt;
	background-color: $secondaryColor;
	color: $primaryColor;
}