body {
	font-family: monospace;
}
details.txt {
	padding: 3pt;
	font-family: monospace;
	word-wrap: break-word;
	max-width: 80ex;
	border: 1pt dotted $primaryColor;
	border-radius: 1pt;
	margin: 8pt;
}
.voter {
	margin: 5pt 0pt 0pt 0pt;
	text-align: right;
}
.voter a {
	text-decoration: none;
	border: 2pt solid $primaryColor;
	padding: 2pt 2pt 0pt 2pt;
	border-radius: 3pt;
	background-color: $primaryColor;
	color: $secondaryColor;
	font-family: cursive;
	font-size: default;
}
.voter a:active {
	background-color: $secondaryColor;
	color: $primaryColor;
}
details.txt a.header {
	font-family: monospace;
	font-weight: bold;
	font-size: larger;
}
a {
	color: $primaryColor;
	background-color: $secondaryColor;
}
h1 {
	background-color: $primaryColor;
	color: $secondaryColor;
	margin-bottom: 0pt;
	border: solid 5pt $primaryColor;
	border-bottom: 0pt;
	border-radius: 5pt 5pt 0pt 0pt;
	padding: 3pt;
}
h2.menu {
	margin-top: 0pt;
	padding-right: 5pt;
	background-color: $primaryColor;
	color: $secondaryColor;
	border: solid 5pt $primaryColor;
	border-top: 0pt;
	border-radius: 0pt 0pt 5pt 5pt;
	text-align: right;
}
h2.menu a {
	text-decoration: none;
	margin-left: 1em;
	color: $secondaryColor;
	background-color: $primaryColor;
}
.avatar .icon {
	font-weight: bold;
	margin-right: 2pt;
}
.avatar {
	border-radius: 1pt;
	background-color: $secondaryColor;
	color: $primaryColor;
}