background:
linear-gradient(45deg, $primaryColor 45pt, transparent 45pt)64pt 64pt,
linear-gradient(45deg, $primaryColor 45pt, transparent 45pt,transparent 91pt, $secondaryColor 91pt, $secondaryColor 135pt, transparent 135pt),
linear-gradient(-45deg, $primaryColor 23pt, transparent 23pt, transparent 68pt,$primaryColor 68pt,$primaryColor 113pt,transparent 113pt,transparent 158pt,$primaryColor 158pt);
background-color:$secondaryColor;
background-size: 128pt 128pt;
