body {
	font: family: Verdana, Geneva, sans-serif;
}
fieldset {
	border-color: $colorSecondary;
}
link {
	text-decoration: none;
}
input    { font-family:monospace; font-size:10pt; }
textarea { font-family:monospace; font-size:10pt; }
input[type=text], input[type=password], select, option, textarea {
	background-color: $colorInputBackground;
	color: $colorInputText;
	font-family: Verdana, Geneva, sans-serif;
}
#txtClock {
	border: 1pt inset $colorWindow;
}