<!-- titlebar_with_button.template -->
<tr bgcolor="$colorTitlebar" class=titlebar>
	<td colspan=$contentColumnCount>
		<font color="$colorTitlebarText"><b>$windowTitle</b></font>
		<span class=advanced>
			<a href="#$itemEndAnchor" class=btnSkip title=skip onclick="if (window.CollapseWin) { return CollapseWin(this); } return false;">$btnCloseCaption</a>
		</span>
		<br>
	</td>
</tr>
<!-- / titlebar_with_button.template -->
