body {
	font-family: helvetica;
	font-size: 14pt;
	background-color: $colorBackground;
}

fieldset {
	border-color: $colorSecondary;
}
.dialog {
	box-shadow: 0 0 15pt #335555;
}
button, input[type=button], input[type=submit], input[type=checkbox] {
	background-color: $colorWindow;
	color: $colorText;
	border-color: #808080;
	box-shadow: 0 0 5pt #335555;
}
input[type=text], input[type=password], select, option, textarea {
	background-color: $colorInputBackground;
	color: $colorInputText;
}
#txtClock {
	border: 1pt inset $colorWindow;
}