<!-- search.template -->
<p class=warning>
    <b>Your search will become public immediately.</b>
</p>
<form action="/post.html" name=search class=advanced>
    <p class=beginner>
        Put some text and press button.
    </p>
    <p>
        <input name=comment id=q type=text size=40>
        <input type=submit name=tag value="#Search">
    </p>
</form>
<!-- / search.template -->
