<!-- form/upload.template ; file upload form -->
<form enctype="multipart/form-data" action="/upload.php" method="POST">
	<p>Upload your file</p>
	<p><input type="file" name="uploaded_file"></p>
	<p><input type="submit" value="Upload"></p>
	<p>Allowed files: jpg, gif, png, bmp, svg</p>
	<p>Only images supported, video support later</p>
</form>
<!-- / form/upload.template -->