<p>
	<b>$eventTitle</b><br>
	Starts: <span class=timestamp>$eventTime</span><br>
	Ends: <span class=timestamp>$eventTimeUntil</span><br>
	Duration: $eventDuration<br>
	$eventItemAuthor<br>
	Link: $eventItemLink<br>
	$voteButtons<br>
</p>
