<!-- data.template -->

<p>Message board data:</p>

<p>
    <a href="/txt.zip">/txt.zip</a> ($sizeHikeZip)<br>
    Contains all items as individual text files
</p>

<p>
    <a href="/archive/index.sqlite3.zip">/index.sqlite3.zip</a> ($sizeSqliteZip)<br>
    Contains index of items in SQLite database
</p>

<!-- / data.template -->