<div class="$itemClass" style="border-color: $borderColor">
<p>$itemText</p>
<p><b><a href="$permalinkHtml">$itemName</a></b> <a href="$permalinkTxt">.txt</a> $authorLink $replyCount</p>
$votesSummary
$quickVoteButtonGroup
</div>
