body, table, .item, #txtClock, input {
	font-family: courier;
	font-size: 14pt;
	background-color: $colorBackground;
}
fieldset {
	border-color: $colorSecondary;
}
input[type=text], input[type=password], select, option, textarea {
	background-color: $colorInputBackground;
	color: $colorInputText;
}
button, input[type=button], input[type=submit], input[type=checkbox] {
	background-color: $colorWindow;
	color: $colorText;
	border-color: #808080;
	box-shadow: 0 0 5pt #335555;
}
#txtClock {
	border: 1pt inset $colorWindow;
}

#serverMessage {
/* messages from server */
    background-color: $colorHighlightAlert;
    color: $colorText;
    padding: 5pt;
    spacing: 5pt;
    border: 10pt $colorWindow double;
    display: block;
}
a:focus, a:active {
    color: #40ff40;
    background-color: green;
}
input:focus, textarea:focus {
    background-color: green;
}
