<!-- access.template ; for letting user switch accessibility mode -->
<h3>Do you want to enable Light Mode?</h3>
<h3><a href="/access.html?light=1">Turn On Light Mode</a></h3>
<p class=beginner>
	Designed for maximum accessibility, no styling or extras.
</p>

<h3><a href="/access.html?light=0">Turn Off Light Mode</a></h3>
<p class=beginner>
	Extra formatting and non-essential convenience features.
</p>
<!-- / access.template -->