<!-- access.template ; for letting user switch accessibility mode -->
<h3><a href="/access.html?light=1">Turn On</a></h3>

<h3><a href="/access.html?light=0">Turn Off</a></h3>

<hr>
<p>
	Light Mode is designed for accessibility.<br>
	All non-essential and convenience features are turned off.
</p>
<!-- / access.template -->