<html><head>
	<title>Thank you!</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width">
</head><body>
<h1>Thank you!</h1>
<p><a href="/top.html">Continue to Top Discussions Page</a></p>
<p>You can use the Back button in your browser to return to the previous page.</p>
</body></html>