<tr>
    <td><a href="$link">$authorAvatar</a></td>
    <td>$authorScore</td>
    <td class=advanced>$authorItemCount</td>
    <td class=advanced>$authorWeight</td>
    <td class=advanced>$authorLastSeen</td>
</tr>