<!-- clock.template -->
<span style="background-color: #405040; color: #00f040; padding: 2pt; border-radius: 2pt;" id=clockContainer>
<font id=clock>$currentTime</font></span>
<!-- / clock.template -->