<span id=clock style="display: none; position: fixed; right: 5pt; font-family: monospace; background-color: #607060; color: #00f040; padding: 5pt; border-radius: 5pt; font-size: large;">$currentTime</span>
