<!-- data.template -->

<p>All data on this message board is freely available for download in the following, but not limited to, formats:</p>

<p><a href="/hike.zip">/hike.zip</a> ($sizeHikeZip)</p>

<p>Enjoy!</p>

<!-- / data.template -->