<!-- etc.template -->
<h1><a href="/settings.html">Settings*</a></h1>
<h1><a href="/profile.html">Cookie Profile</a></h1>
<h1><a href="/gpg.html">GPG Profile*</a></h1>
<h1><a href="/top.html">Read Top Threads</a></h1>
<h1><a href="/write.html">Write Something</a></h1>
<h1><a href="/index0.html">Cracker Barrel</a></h1>
<!--/ etc.template -->