<hr>
<footer>
    <span class=advanced>$footer</span>
    <p class="disclaimer advanced"><small>
        $disclaimer
    </small></p>
    <span class=advanced>$ssiFooter</span>
</footer>
</main></body></html>