<!-- itemtitlelink.template -->
<tr class=titlebar>
	<td colspan=2 bgcolor=$colorTitlebar>
		<b><a href="$permalinkHtml"><font color=white>$itemTitle</font></a></b>
	</td>
</tr>
<!-- / itemtitlelink.template -->
