<!-- item_listing.template -->
<tr bgcolor="$rowBgColor">
	<td>
		<b><a href="$link">$itemTitle (Score: $itemScore)</a></b><br>
		$itemLastTouch $authorAvatar<br>
	</td>
</tr>
<!-- / item_listing.template -->