<!-- item_title_link2.template -->
<tr bgcolor=$colorTitlebar class=titlebar style="border:0;">
	<td>
		<b>
			<font color=$colorTitlebarText>$itemTitle</font>
		</b>
	</td>
</tr>
<!-- / item_title_link2.template -->
