<!-- stats.template -->
<fieldset>
	<p>Updated: $lastUpdateTime</p>
	<p>Items: $itemCount</p>
	<p><a href="/authors.html">Authors</a>: $authorCount</p>
	<p>Operator: $admin</p>
	<p class=advanced>Server: $server</p>
	<p>Version: $versionShort <span class=advanced>($versionFull)</span></p>
</fieldset>
<!-- / stats.template -->