<!-- stats-horizontal.template -->

<p>
	<span class=beginner>Updated: </span>$lastUpdateTime |
	<span class=beginner>Operator: </span>$admin
	<span class=advanced>
		|
		<span class=beginner>Built: </span>$lastBuildTime |
		$itemsIndexed items |
		$filesTotal files |
		$authorCount authors |
		$versionShort
	</span>
</p>

<!-- / stats-horizontal.template -->