
/* avatars */
.avatar {
	border: 2pt;
}
.avatar .icon {
	font-weight: bold;
	margin-right: 2pt;
	border-radius: 3pt;
	padding: 3pt;
	text-shadow:
	-1pt -1pt 0 #000000,
	1pt -1pt 0 #000000,
	-1pt 1pt 0 #000000,
	1pt 1pt 0 #000000;
}
