
/* avatars */
.avatar .icon {
    font-weight: bold;
    margin-right: 2pt;
    border-radius: 2pt;
    padding: 1pt;
}
.avatar {
    border-radius: 3pt;
    color: #c08000;
    padding: 2pt;
}
.avatar .username, .avatar .username a {
    color: #f0f0f0;
    text-shadow:
    -1pt -1pt 0 #404040,
    1pt -1pt 0 #404040,
    -1pt 1pt 0 #404040,
    1pt 1pt 0 #404040;
}

