<!-- test.template -->
<meta name="viewport" content="width=device-width">
<form>
<font face=arial>
<table width=60% cellspacing=0 cellpadding=3 border=3 style="border: 3px outset #c0c0c0;" class=item>
	<tr bgcolor=#000080 class=titlebar>
		<td colspan=2>
			<font color=white><b>Untitled</b></font>
		</td>
	</tr>
	
	<tr bgcolor=#c0c0c0 class=menubar>
		<td colspan=2>
		<p>
			<a href=#>Agree </a>
			<a href=#>Reply </a>
			<a href=#>Report </a> 
			<a href=#>Help </a>
		</td>
	</tr>
	
	<tr bgcolor=#eeeeee class=body>
		<td style="border: 2px inset #c0c0c0" colspan=2>
			<p>abcad
			<p>adfadsfadfa
			<p>asdfadfad
		</td>
	</tr>
	
	<tr bgcolor=#c0c0c0 class=statusbar style="border: 2px inset #c0c0c0">
		<td>
			<p>Posted by <b>Admin</b> at 1571247455
		</td>
		<td align=right>
			<p>Score: 123414
		</td>
	</tr>
</table>
</font>
</form>
<!-- / test.template -->