<!-- test.template -->
<meta name="viewport" content="width=device-width">

<font face=arial>
<table width=60% cellspacing=0 cellpadding=3 border=3 style="border: 2pt outset #c0c0c0;" class=item>
	<tr bgcolor=#000080 class=titlebar style="border:0">
		<td colspan=2>
			<font color=white><b>Untitled</b></font>
		</td>
	</tr>
	
	<tr bgcolor=#c0c0c0 class=menubar>
		<td colspan=2 style="border:0">
		<p>
			<a href=#>Agree</a>;
			<a href=#>Reply</a>;
			<a href=#>Report</a>;
			<a href=#>Help</a>;
			<a></a>
		</td>
	</tr>
	
	<tr class=body>
		<td class=content style="border: 1pt inset #c0c0c0" colspan=2 bgcolor=#ffffff>
			<p>abcad
			<p>adfadsfadfa
			<p>asdfadfad
		</td>
	</tr>
	
	<tr bgcolor=#c0c0c0 class=statusbar>
		<td style="border: 1pt inset #c0c0c0">
			<p>Posted by <b>Admin</b> at 1571247455
		</td>
		<td align=right style="border: 1pt inset #c0c0c0">
			<p>Score: 123414
		</td>
	</tr>
</table>
</font>


<hr>

<!-- id_curent2.template -->
<form id=formCurId name=formCurId style="display:none">
	<font face=arial>
		<table cellspacing=0 width=60% cellpadding=6 border=0 bgcolor="#c0c0c0" class=dialog>
			<tr bgcolor=#000080 class=titlebar style="border:0">
				<td>
					<font color=white><b>Manage Identity</b></font>
				</td>
			</tr>

			<tr class=menubar>
				<td>
					<p>
				</td>
			</tr>

			<tr class=body>
				<td class=content>
					<p>
						<span class=beginner>Signed In:</span>
						<span id=myId2 class=avatar>Loading...</span>
					</p>

					
				</td>
			</tr>

			<tr bgcolor=#c0c0c0 class=statusbar>
				<td style="border: 1pt inset #c0c0c0; padding: 2pt;">
					Ready
				</td>
			</tr>
		</table>
	</font>
</form>
<!-- / id_curent2.template -->



<!-- / test.template -->



