<!-- topmenu2.template -->
<form action="" name="frmTopMenu">
	<table class=dialog>
		<tr bgcolor=$colorTitlebar class=titlebar style="border:0">
			<td colspan=2><small>
				<a href="#maincontent"><font color=$colorTitlebarText><b><small>Skip to main content</small></b></font></a>
			</small></td>
		</tr>
		<tr>
			<td>
				<big style="padding:5pt">$menuItems</big>
			</td>
			<td align=right>
				$clock
			</td>
		</tr>
	</table>
</form>
<!-- / topmenu2.template -->