<!-- votecheck.template -->
<label
	for=$fileHashShort_$voteValue
>
	<input
		type=checkbox
		name="vote/$fileHash/$ballotTime/$voteValue/$checksum"
		id=$fileHashShort_$voteValue
	>
	$voteValue
</label>
<!-- / votecheck.template -->