	<!-- vote2button.template -->
	<a
		href="/post.html?comment=vote%2F$fileHash%2F$ballotTime%2F$voteValue%2F$checksum"
		class="$class"
		onclick="if (window.signVote) { return signVote(this, 'vote/$fileHash/$ballotTime/$voteValue/$checksum'); }"
	>+$voteCaption</a>;
	<!-- / vote2button.template -->