<!-- manual.template -->

<h1>Manual</h1>

<a href="manual_advanced.html">Advanced users can tap this to see some technical details.</a>

<!-- -->

<h3>Profile Menu Link</h3>

<p>The "Profile" item in the top menu is italicized when you are signed in through the Web UI.</p>

<p>This is done as a subtle signed in status indicator without disclosing the user's information to shoulder surfers.</p>


<!-- / manual.template -->
