<!-- post.template -->
<p>
    <b>Thank you!</b>
    
    What would you like to do next?
</p>
<pre class=advanced>
    _   _                 _
   | |_| |__   __ _ _ __ | | __
   | __| '_ \ / _` | '_ \| |/ /
   | |_| | | | (_| | | | |   <
    \__|_| |_|\__,_|_| |_|_|\_\
</pre>
<p><span id=retRef></span><a href="./">Continue to Home Page</a></p>
<!-- / post.template -->