<!-- welcome.template -->
<p>Welcome to the welcome page. Thank you for stopping by.</p>
<p>
    Say hello:
    <form action="/post.html" method=get>
        <input name=comment type=text size=40>
        <br>
        <input type=submit value=Send>
    </form>
</p>
<p><a href="/top/approve.html">Read what's new</a>
<p><a href="/manual.html">Manual</a></p>
<!-- / welcome.template -->

