<!-- status_bar.template -->
<a href="$permalinkHtml">$addedTime</a>;
$authorLink;
<span class=advanced>
	$fileHashShort;
	<a href="$permalinkHtml#reply">reply($replyCount)</a>;
</span>
$itemFlagButton
<!-- status_bar.template -->