body {
	font-family: helvetica;
	font-size: 14pt;
	background-color: $colorBackground;
	margin: 0;
	padding: 0;
}
input {
	border-color: blue;
}
input[type=text], input[type=password], select, option, textarea {
	background-color: $colorInputBackground;
	color: $colorInputText;
}
#txtClock {
	border: 1pt inset $colorWindow;
}
@media (prefers-color-scheme: dark) {

}
.beginner {
    background-color: #f0f0d0;
}
.dialog {
	box-shadow: 5pt 5pt 5pt #405050;
	border: $borderDialog;
	background-color: $colorWindow;
	font-family: tahoma, helvetica, arial, sans-serif;
	font-size: 10pt;
	margin: 10pt;
}
#serverResponse {
	box-shadow: 5pt 5pt 5pt #405050;
}
.statusbar td {
	border: 1pt inset $colorWindow;
}
textarea {
    font-family: serif;
    font-size: 12pt;
}
fieldset {
    border-radius: 3pt;
}

.txt {
/* regular text */
	font-family: tahoma;
	font-size: 14pt;
}

a:focus, a:active {
    color: red !important;
    background-color: orange !important;
}
input:focus, textarea:focus {
    background-color: orange;
}
#serverResponse {
/* messages from server */
    background-color: $colorHighlightAlert;
    color: $colorText;
    padding: 5pt;
    spacing: 5pt;
    border: $borderDialog;
	box-shadow: 5pt 5pt 5pt #405050;
}
#txtClock {
	border: 1pt inset $colorWindow;
	background-color: $colorWindow;
}