/* theme/chicago/additional.css */
body {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	background-color: $colorBackground;
}
input {
	border-color: blue;
}
input[type=text], input[type=password], select, option, textarea {
	background-color: $colorInputBackground;
	color: $colorInputText;
}
#txtClock {
	border: 1pt inset $colorWindow;
}
@media (prefers-color-scheme: dark) {

}
.beginner {
    background-color: #f0f0d0;
}
.dialog {
	box-shadow: 5pt 5pt 0 rgba(0, 20, 20, 0.3);
	border: $borderDialog;
	background-color: $colorWindow;
	border-radius: 1pt;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	margin-right: 8pt;
	margin-bottom: 8pt;
}
@media only screen and (min-width : 30em) {
	.item-textart {
		max-width: 90%;
		background-color: #808080;
	}
	.dialog .txt {
		max-width: 30em;
	}
}
.statusbar td {
	border: 1pt inset $colorWindow;
}
textarea {
    font-family: Fixedsys, "Courier New", Courier, monospace;
    font-size: 12pt;
}

.txt {
/* regular text */
	font-family: "Times New Roman", Times, sans-serif;
	/*font-family: Tahoma, Arial, Helvetica, sans-serif;*/
	font-size: 14pt;
	background-color: #d0d2d4;
	border: 1pt #ffffff inset;
}

a:focus, a:active {
    color: red !important;
    background-color: orange !important;
    border-radius: 1pt;
}
textarea:focus {
    background-color: #fff0e0;
}
input:focus {
    background-color: orange;
}
#serverResponse {
/* response messages from the server */
    background-color: $colorHighlightAlert;
    color: $colorText;
    padding: 5pt;
    border: 0;
	box-shadow: 5pt 5pt 0 rgba(0, 20, 20, 0.5);
}
#txtClock {
	border: 1pt inset $colorWindow;
	background-color: $colorWindow;
}
/* / theme/chicago/additional.css */
