<!-- reply.template -->
<a name=reply></a>
<form class=reply action="/post.html" id=compose name=compose>
	<textarea
		wrap=soft
		rows=7
		cols=32
		style="min-width: 360px; height: 80px;"
		id=comment
		name=comment
	></textarea>
	<br>
	<input type=submit value="Send Reply">
	<span id=spanSignAs></span>
	<input type=hidden name=replyto id=replyto value="$replyTo">
</form>
<!-- / reply.template -->
