		function setclock() {
			var d = new Date();
			var n = d.getTime();
			n = Math.ceil(n/1000);

			document.getElementById('clock').innerHTML = n;

			setTimeout(setclock, 500);

		}

		setTimeout(setclock, 500);

