// == begin itsyou.js

var myFp = localStorage.getItem('fingerprint');

if (window.location.pathname == '/author/' + myFp + '/') {
	var itsYou = document.getElementById('itsyou');
	itsYou.innerHTML = 'This is you!';
}

// == end itsyou.js