<HEAD>
<SCRIPT LANGUAGE="JavaScript">
<!--
function BodyOnLoad() {
//	document.write(navigator.userAgent);
	alert('BodyOnLoad()');
}
//-->
</SCRIPT>

<style type="text/css">
<!--

// -->
</style>

</HEAD>

<BODY onLoad="BodyOnLoad()">

<p>This is test.</p>

<script><!--
document.write('<p>' + navigator.userAgent + '</p>');
// --></script>

</BODY>

