<HEAD>
<SCRIPT LANGUAGE="JavaScript">
<!--
var timerID = null
var timerRunning = false
function stopclock(){
	if(timerRunning) {
		clearTimeout(timerID)
	}
	timerRunning = false
}
function startclock(){
	// Make sure the clock is stopped
	stopclock()
	showtime()
}
function showtime(){
	var timeValue = '';

//	var now = new Date()
//	var hours = now.getHours()
//	var minutes = now.getMinutes()
//	var seconds = now.getSeconds()
//	var timeValue = "" + ((hours > 12) ? hours - 12 : hours)
//	timeValue += ((minutes < 10) ? ":0" : ":") + minutes
//	timeValue += ((seconds < 10) ? ":0" : ":") + seconds
//	timeValue += (hours >= 12) ? " P.M." : " A.M."
//
//	var d = new Date();
//	var n = d.getTime();
//	n = Math.ceil(n/1000);
//	timeValue = n;

	var now = new Date();
	var hours = now.getHours();
	var minutes = now.getMinutes();
	var seconds = now.getSeconds();
	var milliseconds = now.getMilliseconds();

	var hoursR = 24 - hours;
	if (hoursR < 10) {
		hoursR = '0' + '' + hoursR;
	}
	var minutesR = 60 - minutes;
	if (minutesR < 10) {
		minutesR = '0' + '' + minutesR;
	}
	var secondsR = 60 - seconds;
	if (secondsR < 10) {
		secondsR = '0' + '' + secondsR;
	}

	if (milliseconds < 10) {
		milliseconds = '00' + '' + milliseconds;
	} else if (milliseconds < 100) {
		milliseconds = '0' + '' + milliseconds;
	}

	if (hours < 10) {
		hours = '0' + '' + hours;
	}
	if (minutes < 10) {
		minutes = '0' + '' + minutes;
	}
	if (seconds < 10) {
		seconds = '0' + '' + seconds;
	}



	timeValue = hours + '' + minutes + '' + seconds + '' + milliseconds + '' + (60-seconds) + '' + (60-minutes) + '' + (24-hours);

	document.clock.face.value = timeValue
	timerID = setTimeout("showtime()",300)
	timerRunning = true
}
//-->
</SCRIPT>
</HEAD>

<BODY onLoad="startclock()">
<FORM NAME="clock" onSubmit="0">
   <INPUT TYPE="text" NAME="face" SIZE=20 VALUE ="">
</FORM>
</BODY>

