// == begin write.js

function writeOnload() { // onload handler for write page
	if (window.signMessage) {

	}
}

function writeSubmit() { // called when user submits write form
	if (window.getPrivateKey && window.signMessage) {
		if (getPrivateKey()) {
			signMessage();

			return false; // return false to cancel form submission
		}
	}

	return true;
}

// == end write.js