// begin write_php.js


function commentOnChange(t, formId) {
	if (t.value.length > 10) {
		if (document.getElementById) {
			form = document.getElementById(formId);
			if (form) {
				form.setAttribute('method', 'POST');
			}
		}
	}
}

// end write_php.js
