RewriteEngine On
RewriteRule ^post\.html??(.+)? /post.php [QSA]
RewriteRule ^write\.html??(.+)? /write.php [QSA]
RewriteRule ^profile.html$ /route.php?path=/profile.html [QSA]
RewriteRule ^(.+\.html)$ /route.php?path=/$1 [QSA]
