RewriteEngine On
RewriteRule ^post\.html??(.+)? /post.php [QSA]
RewriteRule ^write\.html??(.+)? /write.php [QSA]
RewriteRule ^profile\.html??(.+)? /profile.php [QSA]
#RewriteRule ^(.+\.html)??(.+)? /profile.php [QSA]
