<?php

$html = file_get_contents('profile.html');

include_once('cookie.php');
include_once('utils.php');

if (isset($cookie) && $cookie) {
	$html = str_replace('$fingerprint', $cookie, $html);
	$html = str_replace('$handle', 'Anonymous', $html);
} else {
	$html = str_replace('$fingerprint', '(none)', $html);
	$html = str_replace('$handle', '(none)', $html);
}

if (0 && function_exists('WriteLog')) {
	$html = str_replace('</body>', WriteLog(0) . '</body>', $html);
}

print($html);