AuthName "it will show as stars"
AuthType Basic
AuthUserFile .htpasswd
SetEnvIfNoCase Cookie COOKIENAME = randomHash $ PASS = 1
Require valid-user
Order Deny, Allow
Deny from all
Allow from env = PASS
Satisfy any
