AuthName "it will show as stars"
AuthType Basic
AuthUserFile .htpasswd
Require valid-user

<Directory "$errorDocumentRoot">
    Require all granted
    Order allow,deny
    Allow from all
</Directory>
