# php rewrites
url.rewrite = (
	# always for post.html
	"^/post.html\??(.+)?" => "/post.php?$1",

	# config/php/rewrite=all
	########################
	# php supported on all html urls
	# BUT less accessible static failover
	# includes urls without query in route.php requests
	# this mode is useful if you require registration
	"^(.+\.html)\??(.+)?" => "/route.php?path=$1&$2",
	"^(.+)\/$" => "/route.php?path=$1/index.html"
)

