# php fastcgi connector
fastcgi.server = (
	".php" => (
		(
			"bin-path" => "/bin/php-cgi",
			"socket" => "/tmp/php.socket"
		)
	)
)

# php rewrites
url.rewrite = (
	"post.html\??(.+)?" => "/post.php?$1",
	"write.html\??(.+)?" => "/write.php?$1",
	"profile.html\??(.+)?" => "/profile.php?$1",
#	"(.+\.html)\??(.+)" => "/route.php?path=$1&query=$2"
)
