<div class="$itemClass" style="border-color: $borderColor">
<p><b><a href="$permalinkHtml">$itemName</a></b> <a href="$permalinkTxt">.txt</a> $authorLink</p>
$itemTitleTemplate
<p>$itemText</p>
<p><b><a href="$permalinkHtml">$itemName</a></b> <a href="$permalinkTxt">.txt</a> $authorLink</p>
$votesSummary
</div>
<hr>