<!-- item-small.template -->
<div style="border-color: $borderColor" class=reply>
$itemTitleTemplate
<p>$itemText</p>
<p><b><a href="$permalinkHtml">$itemName</a></b> $authorLink</p>
<replies></replies>
</div>
<hr>
<!-- / item-small.template -->