<!-- item-small.template -->
<a name=$itemAnchor>
<table cellspacing=0 cellpadding=6 border=0 bgcolor="$colorWindow" class=dialog>
	$itemTitleTemplate
	<tr>
		<td>
			<p>$itemText</p>
			<p>
				<a href="$permalinkHtml">$addedTime</a>;
				$authorLink;
				<span class=beginner><a href="$permalinkHtml#reply"><b>reply</b></a></span>;
				$itemFlagButton
			</p>

			<replies></replies>
		</td>
	</tr>
</table>
</a>
<!-- / item-small.template -->
