<!-- item-smaller.template -->
<div style="border-color: $borderColor" class=reply>
$itemTitleTemplate
<span>$itemText</span>
<span class=advanced><b><a href="$permalinkHtml">$itemName</a></b></span> $authorLink $itemFlagButton
<replies></replies>
</div>
<!-- / item-smaller.template -->
