<!-- item-smaller.template -->
<div style="border-color: $borderColor" class=reply>
$itemTitleTemplate
<span>$itemText</span>
<span><b class=advanced><a href="$permalinkHtml">$itemName</a></b> $authorLink</span> $itemFlagButton
<replies></replies>
</div>
<!-- / item-smaller.template -->
