<!-- status_bar.template -->
<a href="$permalinkHtml">$addedTime</a>;
$authorLink;
<span class=advanced>
	$fileHashShort;
	<a
		href="$permalinkHtml#reply"
		onclick="if (document.compose.comment) { document.compose.comment.focus(); return false; }"
	>reply($replyCount)</a>;
</span>
$itemFlagButton
<!-- status_bar.template -->