<!-- titlebar_with_button.template -->
<tr bgcolor="$colorTitlebar" class=titlebar>
	<td colspan=$contentColumnCount>
		<font color="$colorTitlebarText"><b>$windowTitle</b></font>
		<a href="#collapseWin" style="float:right" onclick="if (window.CollapseWin) { CollapseWin(this); }"><font color="#ffffff">up</font></a>
		<br>
	</td>
</tr>
<!-- / titlebar_with_button.template -->
