/* begin css/default.css */
.tag-flag,
.tag-troll,
.tag-spam,
.tag-remove,
.tag-abuse {
/* negative (red) tags */
	color: $colorTagNegative;
}

.tag-remove {
/* remove tag */
	font-weight: bold;
}

.tag-approve,
.tag-accept,
.tag-friend,
.tag-attend {
/* positive (green) tags */
	color: $colorTagPositive;
}

div.reply {
/* creates indented effect for sub-replies */
	margin-left: 2%;
	padding-left: 3em;
}

.item-textart {
/* textart items get monospace font */
	font-family: monospace;
	font-size: 12pt;
}

.tag-aolart {
/* aol art in 10-point arial font */
    font-family: Arial;
    font-size: 10pt;
}

div.txt {
	padding-left: 1em;
}

.byadmin {
/* text by admin, displayed in red for users' sake */
	color: red;
}

.signed {
/* signed things are displayed in gold */
    border-color: gold;
}


#eventLocation, #eventBrcLocation {
/* event form */
	background-color: $colorRow0Bg;
	padding: 5pt;
}

#eventDate {
/* event form */
	background-color: $colorRow1Bg;
	padding: 5pt;
}

#loadingIndicator, #spanLoadingIndicator, #ariaAlert {
	color: $colorText;
	background-color: $colorHighlightBeginner;
	padding: 3pt;
	position: fixed;
	top: 0;
	left: 0;
	margin: 0;
	font-family: tahoma, arial, sans-serif;
	font-size: smaller;
	font-weight: bold;
}
#loadingIndicator a {
	/* style for links in loading indicator */
}
.notification {
	color: $colorText;
	background-color: $colorHighlightBeginner;
	padding: 3pt;
	font-size: smaller;
	font-weight: bold;
}
noscript {
	color: red;
}
.menubar a, .titlebar a {
	text-decoration: none;
	color: $colorText;
}
/* end css/default.css */