/* dragging.css */

/* should be called inline-block.css ? */

fieldset, table.dialog {
	display: inline-block;
	vertical-align: top;
}
form {
	display: inline;
}

/*
#topmenu.dialog {
	position: fixed !important;
	top: 0;
	right: 0;
}
*/

/* / dragging.css */
