/* dragging.css */

/* should be called inline-block.css ? */

/* #bug makes some dialogs horizontal
fieldset {
	display: inline-block;
	vertical-align: top;
}
 */

table.dialog { /* inline-table table-block */
	display: inline-block;
	vertical-align: top;
}
form {
	display: inline;
}

/*
#topmenu.dialog {
	position: fixed !important;
	top: 0;
	right: 0;
}
*/

/* / dragging.css */
