
function makeRefLink() {
	if (document.getElementById && document.referrer) {
		var retRef = document.getElementById('retRef');
		if (retRef) {
			retRef.innerHTML = '<a href=\"' + document.referrer + '\">Return to Previous Page</a> ';
			window.open(document.referrer + '?' + time(), '_self');
		}
	}
}

